*
{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box; 
}
.header {
    width: 100px;
    padding: 30px 40px;
    justify-content: space-between;
    display: flex;
}
.header.logo h2 {
    color: #4CAF50;
    cursor: pointer;
    font-size: 32px;
}
.header.logo h2 span{
    color: #2196F3;
}
.header ul{
    display: flex;
}
.header ui li{
    margin-right: 20px;
    list-style: none;
}
.header ul li a{
    text-decoration: none;
    color: white;
} 