@tailwind base;
@tailwind components;
@tailwind utilities;


.my-custom-select {
  appearance: none;        /* remove OS default arrow/appearance */
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #f9f9f9;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  color: #111;
  cursor: pointer;
  /* Optionally remove default focus outline */

}

@keyframes slide-up {
  0% { transform: translateY(20px); opacity: 0; }
  20% { transform: translateY(0); opacity: 1; }
  80% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(20px); opacity: 0; }
}



.animate-slide {
  animation: slide-up 2.2s ease forwards;
}  


