@tailwind base;
@tailwind components;
@tailwind utilities;


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: rgb(46, 155, 64);
}

.sbt{
  color: white;
  font-size: 0.8em;
  margin: 1em;
  cursor:pointer;

}
.sbt:hover{
  color:rgb(46, 155, 64);
}

.my-custom-select {
  appearance: none;        /* remove OS default arrow/appearance */
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #f9f9f9;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  color: #111;
  cursor: pointer;
  /* Optionally remove default focus outline */

}